<h1>Welcome to admin zone</h1>

<%= link_to "Manage categories", admin_page_categories_path %>
<%= link_to "Register siders", admin_sider_types_path %>
<%= link_to "Manage siders", admin_siders_path %>