html {
    margin: 0px;
    height: 100%;
    padding: 0px;
    border: none;
    outline-width: 0px;
    outline-style: none;
}
body { 
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline-width: 0px;
    outline-style: none;
    background:#f1f3f5;
}

.clr {
    clear:both;
}

.admin_table {
    border-collapse: collapse;
}

.admin_table td, .admin_table th {
    border: 1px solid black;
    padding: 1px 5px;
}

.admin_form .left_column, .admin_form label {
    display:block;
    float:left;
    clear:left;
    width:40%;
    text-align:right;
}

.admin_form .right_column, .admin_form input, .admin_form select {
    display:block;
    margin-left:42%;
}